[Unit]
Description=Earnings Table Cron Jobs
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/earnings-table
Environment=NODE_ENV=production
Environment=FINNHUB_API_KEY=d28f1dhr01qjsuf342ogd28f1dhr01qjsuf342p0
Environment=POLYGON_API_KEY=Vi_pMLcusE8RA_SUvkPAmiyziVzlmOoX
Environment=DATABASE_URL=file:./prisma/dev.db
Environment=NEXT_TELEMETRY_DISABLED=1
ExecStart=/usr/bin/npm run cron
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
